/* PP Mori (Pangram Pangram Foundry) — licensed webfont, exported from a
   FontLab-modified .vfc source as .woff2. Single Bold-weight file mapped
   across the whole 400–600 range — used for both body and heading text
   (see variables.css). */

@font-face {
  font-family: "PP Mori";
  src: url("../../assets/fonts/PPMori-Bold_focustender.woff2") format("woff2");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}
